@charset "UTF-8";

/* ----- custom font ----- */
@font-face {
    font-family: 'GOT_font';
    src: url('Game_of_Thrones.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* ----- end custom font ----- */

/* ----- default styles ----- */

.hidden {
	display: none;
}

body { background-image:url(../images/grungeBG.jpg);
	background-repeat:no-repeat; background-position:center center;
	background-color:#000000; font-size:16px; }

h1 {
	font-family: 'GOT_font';
	color:white;
	margin-top:30px;
	font-size:1.25em;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position:relative;
	width:100%;
	text-align: center;
	top:10vh;

}

#imageContainer {
	width:600px;
	height:360px;
	background-color:grey;
	margin:50px auto 0px auto;
	overflow:hidden;
}

/* ----- text ----- */

.house-name {
	font-size: 1.5em;
}

.house-info {
	color: #fff;
	margin: 20px auto;
	font-size: 1.3em;
	padding: 0px 150px;
	line-height: 1.5em;
	text-align: justify;
	max-width: 960px;
}

/* CSS animations and Greensock animations cannot be on the same element */

#houseImages {position:relative; width:5400px; /*transition: all .5s; */}
#houseImages img { float:left; }

#bottomNav { margin-top:30px; }

#navList li {
	display:inline;
	list-style-type:none;
	padding:0px 10px;
	cursor:pointer;
}

/* ----- end default styles ----- */

/* ----- image sprite ----- */
.sigil-container {
	width:51px;
	height:54px;
	display:inline-block;
	overflow:hidden;
	background-image:url(../images/GOT_sprites_v2.png);
	background-repeat:no-repeat;
	transition:transform .3s;
	-webkit-transition:-webkit-transform .3s;
	-moz-transition:-moz-transform .3s;
}

.stark { background-position:-2px -54px; }
.stark:hover { background-position:-2px 0px; }

.baratheon { background-position:-51.5px -54px; }
.baratheon:hover { background-position:-51.5px 0px; }

.lannister { background-position:-103px -54px; }
.lannister:hover { background-position:-103px 0px; }

.tully { background-position:-153.5px -54px; }
.tully:hover { background-position:-153.5px 0px; }

.greyjoy { background-position:-204px -54px; }
.greyjoy:hover { background-position:-204px 0px; }

.arryn { background-position:-255px -54px; }
.arryn:hover { background-position:-255px 0px; }

.targeryen { background-position:-305px -54.5px; }
.targeryen:hover { background-position:-305px -1px; }

.frey { background-position:-356.5px -54.3px; }
.frey:hover { background-position:-356.5px 0px; }

.tyrell { background-position:-409px -54px; }
.tyrell:hover { background-position:-409px 0px; }

/* ----- end image sprite ----- */

/* ----- classes for transitions ----- */

.scaleUp {
	-moz-transform:scale(1.7, 1.7);
	-webkit-transform:scale(1.7, 1.7);
	transform:scale(1.7, 1.7);
}

.scaleHalfUp {
	-moz-transform:scale(1.2, 1.2);
	-webkit-transform:scale(1.2, 1.2);
	transform:scale(1.2, 1.2);
}

/* add styles here for lightbox and video */
.lightbox {
	position: absolute;
	top: 0;
	height: 130vh;
	width: 100%;
	text-align: center;
	background: rgba(0,0,0,1);
	display: none;
}

.show-lightbox {
	display: block;
}


video {
	width: 80%;
	margin-top: 10%;
	border: thin solid #949393;
}

.lightbox-close {
	position: absolute;
	color: white;
	right: 12px;
	top: 12px;
	cursor: pointer;
	font-size: 2em;
}
